{% extends 'base.html.twig' %}

	{% block title %}Home | COMblo{% endblock %}

	{% block body %}
		{# hero #}
		<div class="hero bg-base">
			<div class="flex-col hero-content">
				<div class="card bg-accent lg:card-side md:flex-row-reverse shadow-2xl ">
					<figure class="w-screen md:w-auto px-4 py-5 md:px-6 md:py-6">
						<img class="max-h-96 lg:max-h-52 rounded-xl" src="https://cdn.pixabay.com/photo/2021/09/29/06/19/flowers-6666411_960_720.jpg">
					</figure>

					<div class="card-body">
						<h2 class="card-title">New!</h2>
						<p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. Sit sit necessitatibus veritatis sed molestiae voluptates incidunt iure sapiente.</p>
						<div class="card-actions">
							<button class="btn btn-warning">Purchase</button>
							<button class="btn btn-primary btn-outline">More info</button>
						</div>
					</div>

				</div>
			</div>
		</div>
		{# endhero #}
		{# feed #}
		<div class="bg-base grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 p-8 mr-3 ml-1">
			{% for artikel in pagination %}
				<div class="bg-accent-content border-t border-l border-b-8 border-r-8 hover:border-accent text-left m-5 flex flex-col items-center">
					<figure class="w-full flex justify-center">
						<div class="m-5">
							<div class="w-60 h-48 bg-center bg-gray-300 bg-cover bg-current bg-opacity-40" style="background-image: url('{{ asset('uploads/covers/' ~ artikel.coverFilename) }}'); background-blend-mode: multiply"></div>
						</div>
						{# <img src="{{ asset('uploads/covers/' ~ artikel.coverFilename) }}" class="mask mask-square"> #}
					</figure>
					<div class="card-body -mt-8 flex flex-col justify-between w-full">
						<div>
							<h2 class="card-title text-accent">{{ artikel.title }}</h2>
							<p>{{ artikel.content|u.truncate(50, '...') }}</p>
						</div>
						<div class="card-actions flex flex-col">
							<button class="btn btn-xs line-through" disabled="disabled">{{ artikel.harga|format_currency('IDR') }}</button>
							<div class="">
								<div class="rounded-md font-bold uppercase px-1 py-0 self-baseline text-sm border-2 border-red-600 bg-red-600 text-accent-content">{{ artikel.hargaD|format_currency('IDR') }}</div>
								<a class="btn btn-xs btn-outline btn-accent mt-2" href="{{ path('artikel_view', {'id': artikel.id}) }}">More info</a>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<p>Tidak ada
					<strong>Artikel</strong>
				</p>
			{% endfor %}
		</div>
		{# endfeed #}
		<div class="flex bg-base text-sm justify-center">
			{{ knp_pagination_render(pagination) }}
		</div>
	{% endblock %}
