{% extends 'base.html.twig' %}

	{% block title %}Edit Artikel{% endblock %}

	{% block body %}
		<h1>Edit Artikel</h1>
		{{ form_start(form) }}
		{{ form_row(form._token) }}
		{{ form_row(form.title) }}
		{{ form_row(form.content) }}
		{{ form_row(form.created_on)   }}
		{{ form_row(form.update_on) }}
		<button class="btn">{{ button_label|default('Update') }}</button>
		{{ form_end(form, {render_rest: false}) }}

		<a href="{{ path('artikel_index') }}">back to list</a>

		{{ include('artikel/_delete_form.html.twig') }}
	{% endblock %}
